AZURE_TENANT_ID=653a0b51-7f7a-4c0f-a71c-8de203850cc2
AZURE_CLIENT_ID=5349f53e-caff-4100-b2a1-2da6936d52b8
AZURE_CLIENT_SECRET=I0W8Q~7xzikyl5FexMn-v5EI9vPA9rRlpZhJjbKw
FHIR_BASE_URL=https://patientdemoworkspace-patientfhirservice.fhir.azurehealthcareapis.com